@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}



/* Header Styles */
header {
    width: 100vw;
    height: 60px;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-weight: 500;
}
.navbar a{
    font-weight: 300;
}
.abt {
    padding: 20px;
    display: flex;
    width:100%;
    max-width: 100%;
}
.mypic{
    height:300px;
    width:300px;
    margin: 30px 80px 30px 120px;
    border: white;
    border-radius: 50%;
}
.bio {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    font-weight: 300;
}

.bio h1 {
    font-size: 50px;
    font-weight: 300;
}

.bio p {
    margin-bottom: 10px;
}

.bio hr {
    margin: 10px 0;
}

.info.abt img {
    width: 24px;
    height: 24px;
    margin-right: 150px;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
}
.container h2{
    padding: 20px 20px 20px 60px;
    font-size: 50px;
    font-weight: 200;
}
.box{
    display: flex;
    background-color: white;
    border-color: black;
    margin: 20px 20px 20px 60px;
    height: 25vh;
    width: 90vw;
}